body{
  background-color: #555;
  text-align: center;
  padding: 0 25px;
  color: white;
}
em{
  font-weight: bolder;
}
ul{
  list-style-type: none;
}
#main h1{
  margin-top: 0;
  font-size: 35px;
}
#main{
  width: 600px;
  font-family: courier;
  font-size: 1.1em;
  background-color: #222;
  color: white;
  margin: auto;
  text-align: left;
  padding: 50px 60px;
  border-width: 0 1px 1px 1px;
}
.friendList{
  font-weight: bold;
  color: pink;
}
.sideBar{
  width: 156px;
  height: 640px;
  border: 1px solid white;
  position: absolute;
  float: left;
  margin-top: 150px;
  background-color: #222;
  font-family: courier;
}
.messageBox{
  width: 100%;
  height: 700px;
  border: 1px solid white;
  overflow: scroll; 
  word-wrap: break-word;
}
.messageList{
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}
.inputField{
  margin: 2px;
  width: 76%;
  height: 32px;
  border: 1px solid white;
  float: left;
  padding: 3px;
}
.submitButton{
  margin: 2px;
  width: 20%;
  height: 28px;
  border-bottom: 1px solid white;
  border-radius: 6px;
  background-color: #006;
  float: right;
  text-align: center;
  padding-top: 7px;
}
.time{
  font-size: 0.8em;
  color: #aaa;
}
.users, .chatrooms{
  overflow-y: scroll; 
  overflow-x: hidden;
  width: 115px;
  text-align: left;
  height: 220px;
  padding:13px;
  border: 1px dashed black;
  margin: auto;
}
.chatrooms li:hover, .users li:hover{
  color: pink;
}

#main .error {
  border: 1px solid red;
  background: #FDEFF0;
  padding: 20px;
}

#main .success {
  margin-top: 25px;
}

#main .success code {
  font-size: 12px;
  color: green;
  line-height: 13px;
}
